.card{
    width: 40%;
    max-width: 400px;
    align-self: center;
    border-radius: 20px;
    border: 2px solid black;
    background: linear-gradient(
            to bottom right,
            #FFC687,#FC7246);
    padding: 10px;
    flex-direction: column;
    align-content: center;
    display:flex;
    justify-content: center;
    text-align: center;
}

.card .tittle{
    font-family: 'MuseoModerno', serif;
}

.card .input{
    align-self: auto;
    margin-top: 10px;
}

.card .label{
    margin-right: 5px;
    font-size: 20px;
}

.card .box{
    background: linear-gradient(
            to bottom right,
            #FFDEF2,#E6F0FF);
    border-radius: 15px;
}

.button{
    margin-top: 25px;
    margin-left: 15px;
    background:linear-gradient(
            to bottom right,
            #FFDEF2,#E6F0FF);
    border-radius: 15px;
    cursor: pointer;
}

.card .list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

}

.card .item{
    display: flex;
}