.pictureContainer{
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 900px;
    overflow: hidden;
    margin: 50px auto auto auto ;
    background:#282c34;
    padding: 10px;
    border-radius: 20px;
}

.pictureContainer .picture{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    border: 5px solid lightgray;
    border-radius: 15px;
    padding: 2px;
    background: white;

}

.picture img{
    margin: auto;
    height: 95%;
    width: 98% ;
    border-radius: 15px;
    object-fit: cover;
    border: 5px solid #282c34;
}

.picture .icon{
    align-self: center;
    animation: icon-move infinite 3s ease-in-out;

}

.picture .icon:hover{
    color: #E35157
}

.pictureContainer .comments{
    margin: 0 auto auto auto ;
    padding:  0 10px 10px 10px;
    width: 30%;

}

.comments .icon{
    margin: auto 0 auto auto;
    cursor: pointer;
    color: white;
}

.comments .icon:hover{
    color: #E35157;
}

@keyframes icon-move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px)
    }
    100% {
        transform: translateY(0px)
    }
}