.card{
    width: 40%;
    align-self: center;
    border-radius: 20px;
    border-width: 20px;
    border-color: black;
    margin-top: 100px;
    background: linear-gradient(
            to bottom right,
            #FFC687,#FC7246);
    padding: 10px;
    flex-direction: column;
    align-content: center;
    flex: 1;
}

.card--input{
    align-self: auto;
    margin-top: 10px;
}

.card--input--label{
    margin-right: 5px;
    font-size: 20px;
}

.card--input--box{
    background: linear-gradient(
            to bottom right,
            #FFDEF2,#E6F0FF);
}

.card--button{
    margin-top: 15px;
    margin-left: 15px;
    background: linear-gradient(
            to bottom right,
            #FFDEF2,#E6F0FF);
}