.card{
    margin-top: 10px;
    height: 65%;
    width: 400px;
    align-self: center;
    border-radius: 20px;
    border: 2px solid black;
    background: #282c34;
    /*background: linear-gradient(
            to bottom right,
            #FFC687,#FC7246);*/
    padding: 10px;
    flex-direction: column;
    align-content: center;
    display:flex;
    justify-content: center;
    text-align: center;
}

.card .tittle{
    font-family: "Exo", serif;
    font-size: 30px;
    color: white;
}

.card .input{
    align-self: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 10px auto auto auto;
}


.card .label{
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Exo', serif;
    color: white;
}

.card .box{
    background: linear-gradient(
            to bottom right,
            #FFDEF2,#E6F0FF);
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

.card .box::placeholder {
    text-align: center;
    color: #282c34;
}

.card .box:focus{
    background: #282c34;
    color: white;
}

.card .box:focus::placeholder {
    color: transparent;

}

.button{
    height: 60%;
    width: 20%;
    margin: 15px 10px;
    background:#E35157;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Exo', serif;
    border: none;
    color: white;
    font-size: 15px;

}

.button:hover{
    background: #CA1D7E;
}

.button:focus{
    background: #282c34;
}

.card .list{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;

}

.card .item{
    display: flex;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
    border: none;
    font-size: 20px;
    color: white;
;
}

.card .item:hover{
    color: #E35157;
}

.card .item:focus{
    color: lightgray;
}

@media only screen and (min-width: 600px) {
    .card {
        background: #282c34;
       /* background:linear-gradient(
                to bottom right,
                #CA1D7E, #E35157, #F2703F);*/
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner {
    margin: auto;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}