.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    align-content: center;
}

.container .dataCard{
    background:linear-gradient(
            to bottom right,
            #CA1D7E, #E35157, #F2703F);
    display: flex;
    height: 350px;
    width: 50%;
    margin: auto auto auto 20px;
    border-radius: 20px;
    padding: 20px;
    border: 5px solid black;
    min-width: 410px;
}

.dataCard .info{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dataCard .picture{
    border-radius: 20px;
    height: 50%;
    margin: auto;
    border: 5px solid black;
}

.dataCard .name{
    margin: auto;
    font-size: 30px;
}

.dataCard .info .icon{
    cursor: pointer;
    margin: 10px auto ;
}

.dataCard .list{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto auto auto 30px;

}

.post{
    height: 400px;
    width: 400px;
    margin:auto ;
    justify-content: center;
;

}

.post .gallery {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    border-radius: 40px;
    border: 5px solid black;
}

.post .gallery img{
    height: 100%; width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    position: sticky;
    top: 0;
}


.dataCard .item{
    display: flex;
    font-size: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: auto;
    text-decoration: underline;
;
}
